
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <form method="post" enctype="multipart/form-data">
            <div class="card-content">
                <div class="form-field">
                    <label for="p">Profit:</label>
                    <input type="number" id="p" name="p" required/>
                </div><br>
                <div class="form-field">
                    <label for="l">Loss:</label>
                    <input type="number" id="l" name="l" required/>
                </div><br>
                <div class="form-field">
                    <label for="d">Dining Loss:</label>
                    <input type="number" id="d" name="d" required/>
                </div><br>
                <div class="form-field">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required/>
                </div><br>
                <div class="form-field">
                    <button class="btn-large waves-effect waves-dark" style="width:100%">Submit</button>
                </div>
            </div>
        </form>